/* Establecer el fondo blanco */
body {
    background-color: white;
}

/* Encabezado azul con letras grises */
header {
    background-color: blue;
    color: rgb(147, 142, 142);
}

/* Cuerpo en negro */
main {
    color: black;
}

/* Hipervínculos como botones */
a {
    text-decoration: none;
    background-color: rgb(0, 179, 255);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

a:hover {
    background-color: lightblue; /* Cambia el color de fondo al pasar el cursor */
    color: black; /* Cambia el color del texto */
}

/* Efecto al hacer clic en el botón */
a:active {
    background-color: darkblue; /* Cambia el color de fondo al hacer clic */
    color: white; /* Cambia el color del texto */
}

/* Transición suave para el cambio de color */
a {
    transition: background-color 0.3s, color 0.3s;
}

ul {
    margin: 10;
    padding: 100;
    color: #333; /* Cambia el color del texto si se quiere de las: ul*/
    background-color: #ffffff; /* Cambia el color de fondo de donde van las ul */
    font-family: Arial, sans-serif; /* Cambia la fuente */
    border: 1px solid #ccc; /* Agrega un borde a la lista */
    box-shadow: 3px 3px 5px #888; /* Agrega una sombra */
}

li {
    margin: 10px 0;
    padding: 5px;
    border-bottom: 1px solid #ccc; /* Agrega un borde inferior a los elementos de lista, la linea bajo del texto li */
}



/* pie de página */
footer {
    background-color: blue;
    color: white;
}
